{% load bootstrap3 %}
{% bootstrap_css %}
{% load staticfiles %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>


</head>
<body>
<div django-app="TaskManager">        
    <div class="container">
            <div class="content">
            <h1>Списочек делишек</h1>
            <p class="tagline"> </p>

            <form action="{% url 'TodoList' %}" method="post">
            {% csrf_token %}
                <div class="inputContainer">
                    Категория  <input type="text" name="categ" /><br />
                </div>
                <input class="catAdd" type="submit" value="Добавить" />

            </form>

            <form action="{% url 'TodoList' %}" method="post">
            {% csrf_token %}
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Что нужно сделать?" name="description" required>
                    <label for="description">Описание</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Выберите категорию</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Категория</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" name="date">
                    <label for="dueDate">Выполнить до</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Добавить задачу</button>
                    <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Удалить выбранные задачи</button>
                </div>
            <ul class="taskList">
            {% for todo in todos %}
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>
            {% endfor %}
            </ul>

            <h1>Архив делишек</h1>
            <ul class="archiveList">
                {% for archivetodo in archives %}
                    <li class="taskItem">
                    <label for="{{ archivetodo.id }}"><span class="complete-">{{ archivetodo.title }}</span></label>
                    <span class="category-{{ archivetodo.category }}">{{ archivetodo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ archivetodo.created }} - {{ archivetodo.due_date }}</strong>
                    </li>
                {% endfor %}
            </ul>
            </form>
            </div>
 </div>
</div>

</body>
</html>
